---
import Layout from '../layouts/Layout.astro'
import StudentList from '../components/StudentList.astro'
---

<Layout title="Journal | Astro 3D View Transitions Demo">
  <div class="max-w-[350px] flex flex-col gap-8">
    <h1 class="font-bold text-4xl">Journal</h1>
    <StudentList />
  </div>
</Layout>
